## series的创建

In [3]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['A','B','C','D','E'],name='月份')    #可以自定义索引和name
print(s)

A    1
B    2
C    3
D    4
E    5
Name: 月份, dtype: int64

In [6]:
# 通过字典创建
s=pd.Series({'a':1,'b':2,'c':3,'d':4,'e':5})
print(s)
s1=pd.Series(s,index=['a','c'])
print(s1)

a    1
b    2
c    3
d    4
e    5
dtype: int64
a    1
c    3
dtype: int64

In [27]:
# seies的属性
'''index：series的索引对象   values：series的值   dtype或dtypes：series的元素类型   shape：series的形状   nidm：series的维度    size：series的元素个数    name：series的名称    loc[]显式索引，按标签索引或切片  iloc[]隐式索引，按位置索引或切片    at[]使用标签访问单个元素   iat[]使用位置访问单个元素'''
print(s.index)
print(s.values)
print(s.shape,s.ndim,s.size)
s.name='test'
print(s.dtype,s.name)
print(s.loc['b':'e'])   #显式索引 支持切片 包含右端点 显式按照标签 隐式按照位置
print(s.iloc[1:4])    #隐式索引 支持切片 不包含右端点
print(s.at['a'])    #显式 不支持切片 获取单个值
print(s.iat[1])     #隐式

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
[1 2 3 4 5]
(5,) 1 5
int64 test
b    2
c    3
d    4
e    5
Name: test, dtype: int64
b    2
c    3
d    4
Name: test, dtype: int64
1
2

In [33]:
# 访问数据
print(s['c'])
print(s.head())    # 默认返回前五行数据
print(s.tail())    # 默认后五行数据

3
a    1
b    2
c    3
d    4
e    5
Name: test, dtype: int64
a    1
b    2
c    3
d    4
e    5
Name: test, dtype: int64

In [55]:
# 常见函数
import numpy as np
s=pd.Series([10,2,np.nan,3,None,4,5],index=['A','B','C','D','E','F','G'],name='data')
print(s)

A    10.0
B     2.0
C     NaN
D     3.0
E     NaN
F     4.0
G     5.0
Name: data, dtype: float64

In [58]:
s.head(3).to_frame()

   data
A  10.0
B   2.0
C   NaN

In [60]:
s.tail(5).to_frame()

   data
C   NaN
D   3.0
E   NaN
F   4.0
G   5.0

In [65]:
# 查看所有的描述性信息
s.describe().to_frame()

            data
count   5.000000
mean    4.800000
std     3.114482
min     2.000000
25%     3.000000
50%     4.000000
75%     5.000000
max    10.000000

In [69]:
# 获取元素个数(忽略缺失值)
print(s.count())

5

In [75]:
# 获取索引
print(s.keys()) # 通过方法获取
print(s.index)  # 通过属性获取 pandas自身属性

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='object')
Index(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='object')

In [77]:
# 检查series中的每一个元素是否是缺失值
s.isna()

A    False
B    False
C     True
D    False
E     True
F    False
G    False
Name: data, dtype: bool

In [87]:
# 用来检查每个元素是否在参数集合中
s.isin([10,3])

A     True
B    False
C    False
D     True
E    False
F    False
G    False
Name: data, dtype: bool

### 统计值相关

In [90]:
s.describe().to_frame()

            data
count   5.000000
mean    4.800000
std     3.114482
min     2.000000
25%     3.000000
50%     4.000000
75%     5.000000
max    10.000000

In [94]:
print('平均值：',s.mean(),'标准差：',s.std(),'最大值:',s.max(),'最小值：',s.min())

平均值： 4.8 标准差： 3.1144823004794877 最大值: 10.0 最小值： 2.0