### 表结构

**Person**
| Column Name | Type    | 备注         |
|-------------|---------|--------------|
| personId    | int     | 主键         |
| lastName    | varchar | 姓氏         |
| firstName   | varchar | 名字         |

**Address**
| Column Name | Type    | 备注         |
|-------------|---------|--------------|
| addressId   | int     | 主键         |
| personId    | int     | 外键 → Person.personId |
| city        | varchar | 城市         |
| state       | varchar | 州/省        |

### 需求

返回每个人的 `firstName`、`lastName`、`city`、`state`：  
- 若 Address 中无对应 `personId`，则 `city` 和 `state` 为 `NULL`。  
- 结果顺序不限。

### 示例

**输入**

Person 表
| personId | lastName | firstName |
|----------|----------|-----------|
| 1        | Wang     | Allen     |
| 2        | Alice    | Bob       |

Address 表
| addressId | personId | city          | state    |
|-----------|----------|---------------|----------|
| 1         | 2        | New York City | New York |
| 2         | 3        | Leetcode      | California |

**输出**
| firstName | lastName | city          | state    |
|-----------|----------|---------------|----------|
| Allen     | Wang     | null          | null     |
| Bob       | Alice    | New York City | New York |

In [1]:
import pandas as pd
import numpy as np

person_data={
    'personId':[1,2],
    'lastName':['Wang','Alice'],
    'firstName':['Allen','Bob']
}

address_data={
    'addressId':[1,2],
    'personId':[2,3],
    'city':['New York','Leetcode'],
    'state':['New York','California']
}

person=pd.DataFrame(person_data)
address=pd.DataFrame(address_data)

result=pd.merge(person,address,on='personId',how='left')

final_result=result[['firstName','lastName','city','state']]

final_result

  firstName lastName      city     state
0     Allen     Wang       NaN       NaN
1       Bob    Alice  New York  New York